<h1>Making your new booking!!!</h1>

<%= simple_form_for @booking, url: apparel_bookings_path(@booking.apparel) do |f| %>
  <%= f.input :start_date, as: :date, html5: true, input_html: { id: 'start_date' } %>
  <%= f.input :end_date, as: :date, html5: true, input_html: { id: 'end_date' } %>
  <%= f.button :submit, 'Request item' %>
<% end %>

<%= link_to 'Back', apparels_path %>
