<h1>Create a New User</h1>

<%= simple_form_for @user do |f| %>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email, as: :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :phone %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.submit "Create User", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back", root_path, class: "btn btn-secondary" %>

<h1>fdslkfj</h1>
