
<div class="apparel-body">
  <div class="logo-div"><img src="/assets/Logo-main.png" alt="My Logo" class="logo"></div>
  <div class ="title"><h1>Welcome to Closet Crashers</h1></div>

      <div class="search-container">
      <%# <%= form_with url: apparels_path, method: :get, local: true, class: "search-form" do %>
        <input type="text" name="query" placeholder="Search apparels..." class="search-input">
        <button type="submit" class="search-btn">Search</button>
      <%# <% end %>
      </div>

  <div style="width: 100%; height: 250px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="row">
    <% @apparels.each do |apparel| %>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="apparel-card">
          <div class="apparel-img">
            <img src="/assets/apparel-example.png" alt="apparel image" class="apparel-image">
          </div>
          <div class="text-wrapper">
            <%= link_to apparel.name, apparel_path(apparel) %>
            <p class="apparel-description"><%= apparel.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Add Apparel",  new_apparel_path, class: "btn-Primary" %>
